@import url("http://fonts.googleapis.com/css?family=Droid+Sans+Mono");
/*gradient messy shit*/
::-webkit-scrollbar {
  background: none;
  width: 5px;
  height: 5px;
  padding: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.5);
  border-radius: 5px;
  width: 0px;
}
html,
body {
  height: 100%;
}
body {
  background: #252525;
  color: #888;
  margin: 0;
  padding: 0;
}
.navbar {
  margin-bottom: none;
}
.navbar .navbar-inner {
  background: #000;
  color: #fff;
  border-radius: 0;
  border: 0;
  text-shadow: none;
}
.navbar .navbar-inner a {
  color: #fff;
  text-shadow: none;
}
.navbar .navbar-inner a.brand {
  font-size: 16px;
  font-family: 'Droid Sans Mono', sans-serif;
}
.navbar .navbar-inner .nav li a {
  color: #fff;
  text-shadow: none;
}
.navbar .navbar-inner .nav li:hover {
  color: #bbb;
}
.navbar .navbar-inner .nav li.active a {
  background: #303030;
}
.navbar .navbar-inner .nav li.active a:hover {
  color: #bbb;
}
.navbar .navbar-inner .nav .dropdown.open .dropdown-toggle:hover {
  color: #000;
}
.navbar .navbar-inner .nav .dropdown.open a {
  color: #000;
}
.navbar .navbar-inner .nav .dropdown.open a:hover {
  color: #fff;
}
#top-wrap {
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  height: 40px;
}
#path-wrap {
  position: absolute;
  width: 300px;
  margin: 0;
}
#file-tab-wrap {
  position: absolute;
  left: 300px;
  right: 0;
}
#tablist {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -7px;
}
#tablist li {
  position: relative;
  z-index: 3;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  display: inline-block;
  background: #404040;
  background: -moz-linear-gradient(top, #404040 0%, #383838 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606060), color-stop(100%, #383838));
  background: -webkit-linear-gradient(top, #404040 0%, #383838 100%);
  background: -o-linear-gradient(top, #404040 0%, #383838 100%);
  background: -ms-linear-gradient(top, #404040 0%, #383838 100%);
  background: linear-gradient(to bottom, #404040 0%, #383838 100%);
  box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset;
  border-width: 1px 1px 0 1px;
  border-color: #000;
  border-style: solid;
  height: 25px;
  margin: 14px 0 0 -1px;
  font-size: 12px;
  letter-spacing: 1px;
}
#tablist li:first-child {
  margin-left: 0;
}
#tablist li a {
  display: block;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  line-height: 25px;
  padding: 0 10px;
  color: rgba(255,255,255,0.6);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
}
#tablist li a:hover {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}
#tablist li.active {
  height: 26px;
  background: #555;
  background: -moz-linear-gradient(top, #555 0%, #454545 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #757575), color-stop(100%, #494949));
  background: -webkit-linear-gradient(top, #555 0%, #454545 100%);
  background: -o-linear-gradient(top, #555 0%, #454545 100%);
  background: -ms-linear-gradient(top, #555 0%, #454545 100%);
  background: linear-gradient(to bottom, #555 0%, #454545 100%);
  box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 1px 0 #454545;
}
#tablist li.active a {
  color: rgba(255,255,255,0.9);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}
#tab-separator {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 33px;
  height: 5px;
  background: #454545;
  border: 1px solid #000;
  box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset;
}
#main-wrap {
  position: absolute;
  top: 82px;
  bottom: 0;
  left: 0;
  right: 0;
}
#sidebar-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
}
#sidebar-wrap ul {
  list-style: none;
  margin: 0;
  box-shadow: 0 2px 15px rgba(0,0,0,0.2);
}
#sidebar-wrap ul li {
  padding: 2px 0 2px 5px;
  border-top: 1px solid rgba(255,255,255,0.05);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  background: #303030;
}
#sidebar-wrap ul li a {
  display: block;
  color: #aaa;
  text-shadow: 0 1px 0 rgba(0,0,0,0.8);
}
#sidebar-wrap ul li a:hover {
  text-decoration: none;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
#editor-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 300px;
}
#editor {
  width: 100%;
  height: 100%;
}
.ehidden {
  display: none;
}
#side {
  height: 100%;
  overflow-y: scroll;
}
#buff {
  padding-left: 40px;
}
.slashlink {
  display: inline-block;
  width: 10px;
}
.slash {
  display: inline-block;
  color: #aaa;
  width: 10px;
}
