@import url("http://fonts.googleapis.com/css?family=Droid+Sans+Mono")

/*gradient messy shit*/
gradient()
	background: #404040
	background: -moz-linear-gradient(top, #404040 0%, #383838 100%)
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606060), color-stop(100%,#383838))
	background: -webkit-linear-gradient(top, #404040 0%,#383838 100%)
	background: -o-linear-gradient(top, #404040 0%,#383838 100%)
	background: -ms-linear-gradient(top, #404040 0%,#383838 100%)
	background: linear-gradient(to bottom, #404040 0%,#383838 100%)
gradient-active()
	background: #555555;
	background: -moz-linear-gradient(top,  #555555 0%, #454545 100%)
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#757575), color-stop(100%,#494949))
	background: -webkit-linear-gradient(top,  #555555 0%,#454545 100%)
	background: -o-linear-gradient(top,  #555555 0%,#454545 100%)
	background: -ms-linear-gradient(top,  #555555 0%,#454545 100%)
	background: linear-gradient(to bottom,  #555555 0%,#454545 100%)
transition()
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;

::-webkit-scrollbar
	background:none
	width:5px
	height:5px
	padding:5px

::-webkit-scrollbar-thumb
	background:rgba(255,255,255,.5)
	border-radius:5px
	width:0px

html, body
	height:100%

body 
	background: #252525
	color: #888
	margin:0
	padding:0

.navbar
	margin-bottom:none
	.navbar-inner
		background:#000
		color:#fff
		border-radius:0
		border:0
		text-shadow:none
		a
			color:#fff
			text-shadow:none
			&.brand
				font-size:16px
				font-family: 'Droid Sans Mono', sans-serif;
		.nav
			li 
				a
					color:#fff
					text-shadow:none
				&:hover
						color:#bbb
				&.active a
					background:#303030
					&:hover
						color:#bbb
			.dropdown.open
				.dropdown-toggle:hover
					color:#000
				a
					color:#000
					&:hover
						color:#fff


#top-wrap
	position:absolute
	top:42px
	left:0
	right:0
	height:40px

#path-wrap
	position:absolute
	width:300px
	margin:0

#file-tab-wrap
	position:absolute
	left:300px
	right:0

#tablist
	list-style:none
	padding:0
	margin:0
	margin-top:-7px
	li
		position:relative
		z-index:3
		transition()
		display:inline-block
		gradient()
		box-shadow:0 1px 0 rgba(255,255,255,.2) inset
		border-width:1px 1px 0 1px
		border-color:#000
		border-style:solid
		height:25px
		margin:14px 0 0 -1px
		font-size:12px
		letter-spacing:1px
		&:first-child
			margin-left:0
		a
			display:block
			transition()
			line-height:25px
			padding:0 10px
			color:rgba(255,255,255,.6)
			text-shadow:0 -1px 0 rgba(0,0,0,.4)
			&:hover
				color:rgba(255,255,255,.8)
				text-decoration:none
				text-shadow:0 -1px 0 rgba(0,0,0,.5.5)
		&.active
			height:26px
			gradient-active()
			box-shadow:0 1px 0 rgba(255,255,255,.3) inset, 0 1px 0 #454545
			a
				color:rgba(255,255,255,.9)
				text-shadow:0 -1px 0 rgba(0,0,0,.8)
#tab-separator
	position:absolute
	left:0px
	right:0px
	bottom:0px
	top:33px
	height:5px
	background:#454545
	border:1px solid black
	box-shadow:0 1px 0 rgba(255,255,255,.2) inset

#main-wrap
	position:absolute
	top:82px
	bottom:0
	left:0
	right:0

#sidebar-wrap
	position:absolute
	top:0
	bottom:0
	left:0
	width:300px
	ul
		list-style:none
		margin:0
		box-shadow: 0 2px 15px rgba(0,0,0,.2)
		li
			padding:2px 0 2px 5px
			border-top:1px solid rgba(255,255,255,.05)
			border-bottom:1px solid rgba(0,0,0,.1)
			background:#303030
			a
				display:block
				color:#aaa
				text-shadow: 0 1px 0 rgba(0,0,0,.8)
				&:hover
					text-decoration:none
					color:#fff
					text-shadow: 0 1px 0 rgba(0,0,0,1)

#editor-wrap
	position:absolute
	top:0
	bottom:0
	right:0
	left:300px

#editor
	width:100%
	height:100%

.ehidden
	display: none

#side
	height: 100%
	overflow-y: scroll

#buff
	padding-left: 40px

.slashlink
	display: inline-block
	width: 10px

.slash
	display: inline-block
	color: #AAAAAA
	width: 10px
